:root {
  --darkmode-color: #171717;
  --link-color: #216fdb;
  --main-icon-color: #bcc0c4;
  --green-color: #00a400;
  --secondary-button-background: #e4e6eb;
  --secondary-button-background-on-dark: rgba(0, 0, 0, 0.4);
  --hover-overlay: rgba(0, 0, 0, 0.05);
  --notifier-background-color: #ffffff;
  --enter-animation: cubic-bezier(0.14, 1, 0.34, 1);
  --exit-animation: cubic-bezier(0.45, 0.1, 0.2, 1);
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statusNotifierAnchorOriginBottomLeft {
  align-items: center;
  background-color: var(--notifier-background-color);
  border-radius: 8px;
  bottom: 24px;
  direction: ltr;
  display: flex;
  height: 48px;
  justify-content: center;
  left: 24px;
  line-height: 16px;
  min-width: 288;
  padding: 16px 10px;
  position: fixed;
  text-align: left;
  transform: scale(1);
  z-index: 10000;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  -webkit-font-smoothing: antialiased;
}

.darkModeColor {
  fill: var(--darkmode-color);
}
.onlineColor {
  fill: var(--green-color);
}
.mainColor {
  fill: var(--main-icon-color);
}
.statusNotifierAnchorOriginBottomLeft div {
  padding: 6px;
}
.statusNotifierAnchorOriginBottomLeft > .statusNotificationIcon {
  box-sizing: border-box;
  color: var(--darkmode-color);
  pointer-events: all;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.statusNotifierAnchorOriginBottomLeft > .statusNotificationRefresh > span {
  cursor: pointer;
}
.statusNotifierAnchorOriginBottomLeft > .statusNotificationRefresh {
  color: var(--link-color);
  direction: ltr;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 18px;
  max-width: 100%;
  min-width: 0px;
  outline-color: var(--link-color);
  overflow-wrap: break-word;
  pointer-events: all;
  text-align: left;
  text-decoration: none solid var(--link-color) auto;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
}

.statusNotifierAnchorOriginBottomLeft > .statusNotificationCloseIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--hover-overlay);
  cursor: pointer;
  border-radius: 50%;
}

.statusNotifierAnchorOriginBottomLeft > .statusNotificationCloseIcon:hover {
  background-color: var(--secondary-button-background);
}

.fade-enter,
.fade-appear {
  opacity: 0;
  transform: translateY(100%);
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 260ms, transform 260ms var(--enter-animation);
}
.fade-enter-done {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0%);
}
.fade-exit-active {
  opacity: 0.3;
  transform: translateY(200%);
  transition: opacity 260ms, transform 260ms var(--exit-animation);
}

.fade-exit-done {
  opacity: 0;
}
